<ion-side-menus enable-menu-with-back-views="false" drag-content="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar bar-positive bar-custom">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-custom button-clear navcon" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <div ng-if="navbar">
                    <button class="button button-icon navsearch icon ion-ios-search" ng-click="searchbarAct()"></button>
                </div>
                <span ng-if="searchbar">
                    <label class="searchBar item-input-wrapper">
                        <input type="search" class="input-search" placeholder="{{ 'search_title'| translate }}" ng-model="search_page" ng-enter="search(search_page)">
                    </label>
                    <button class="button button-icon icon ion-ios-close-empty" ng-click="navbarAct()"></button>
                </span>
            </ion-nav-buttons>
        </ion-nav-bar>

        <!-- Navigation Tabs -->
        <ion-tabs ng-show="$root.tab" class="tabs-icon-top tabs-custom">

            <ion-tab title="{{ 'main' | translate }}" icon-on="sc-main-on" icon-off="sc-main-off" href="#/app/main">
                <ion-nav-view name="main-content"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Match" icon-on="sc-main-on" icon-off="sc-main-off" href="#/app/match">
                <ion-nav-view name="match-content"></ion-nav-view>
            </ion-tab>

            <ion-tab title="History" icon-on="sc-main-on" icon-off="sc-main-off" href="#/app/histories">
                <ion-nav-view name="histories-content"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Team" icon-on="sc-main-on" icon-off="sc-main-off" href="#/app/team">
                <ion-nav-view name="team-content"></ion-nav-view>
            </ion-tab>

            <!-- <ion-tab class="profilecon" title="{{ 'profile' | translate }}" icon-off="sc-profile-off" icon-on="sc-profile-on" ng-click="profil()">
                <ion-nav-view name="profile-content"></ion-nav-view>
            </ion-tab>

            <ion-tab title="{{ 'map' | translate }}" icon-off="sc-map-off" icon-on="sc-map-on" ui-sref="app.map">
                <ion-nav-view name="map-content"></ion-nav-view>
            </ion-tab>

            <ion-tab title="{{ 'download' | translate }}" icon-off="sc-download-off" icon-on="sc-download-on" href="#/app/download">
                <ion-nav-view name="download-content"></ion-nav-view>
            </ion-tab>

            <ion-tab title="{{ 'more' | translate }}" icon-off="sc-more-off" icon-on="sc-more-on" href="#/app/more">
                <ion-nav-view name="more-content"></ion-nav-view>
            </ion-tab> -->

        </ion-tabs>

        <ion-nav-view id="sidemenu-con" name="menu-content"></ion-nav-view>

    </ion-side-menu-content>

    <!-- Side Menu -->
    <ion-side-menu side="left" style="background-color: #0D6DB6;">
        <ion-header-bar class="bar-calm bar-sidemenu-custom">
            <h1 class="title">{{fullname}}</h1>
        </ion-header-bar>
        <ion-content class="has-expanded-header">
            <ion-list>
                <ion-item class="item-resident" nav-clear menu-close href="#/app/aboutUs">{{ 'about_us'| translate }}</ion-item>
                <ion-item class="item-resident" nav-clear menu-close href="#/app/whatsNew">{{'what_new' | translate}}</ion-item>
                <ion-item class="item-resident" nav-clear menu-close href="#/app/property">{{ 'property_market'| translate }}</ion-item>

                <!-- ENd : Useful Information -->
                <!-- Start : Emergency Call -->
                <ion-item class="item-custom last" nav-clear>
                    <div class="row">
                        <div class="col col-80" style="padding-right:8%;">
                            <a ng-click="afliates_sos()">
                                <img src="img/sostemplate.png" style="width:100%;margin-left:-5%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);border-radius:8px;">
                            </a>
                            <!--<a class="button button-assertive" ng-click="afliates_sos()" style="width:auto;border-radius:5px;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;height:85%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);background-color:#CD332C">
                                <img src="img/sosbutton.png" style="width:15%;margin-left:-5%;">
                                <strong style="font-size:14px;margin-left:5px;font-weight:bold;">{{'emergency_service_1' | translate}}</strong> &nbsp;
                                <span style="font-size: 14px">{{'emergency_service_2' | translate}}</span>
                            </a>-->
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>