<ion-view view-title="{{'bus'| translate}}">
    <ion-drawer-vertical-wrapper class="has-header" direction="down" state="opened" delegate-handle="first">
        <div class="tabs-top tabs-background-light tabs-color-positive">
            <div class="tabs" style="border:0;outline:0;top:0;height:3em;">
                <a class="tab-item {{daily}}" style="border-bottom:{{daily == 'active' ? '5px solid #2980b9' : '5px solid #ecf0f1'}};font-size:90%;" ng-click="previous()" ng-show="slideIndex = 1">
                    <p style="margin-top:-0.5em;"> {{'daily'| translate}} </p>
                </a>
                <a class="tab-item {{weekend}}" style="border-bottom:{{weekend == 'active' ? '5px solid #2980b9' : '5px solid #ecf0f1'}};font-size:90%;" ng-click="next()" ng-show="slideIndex = 2">
                    <p style="margin-top:-0.5em;"> {{'weekly'| translate}} </p>
                </a>
            </div>
        </div>
        <ion-drawer-vertical-content>

            <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" style="padding:0;">

                <ion-slide style="text-align:center;height:auto;padding:0;">
                    <!-- Start : Monday - Friday -->
                    <div class="row" style="margin-top:35px;height:auto;">
                        <div class="col col-50" style="border-right: 0.25px solid #2980b9;">
                            <table align="center" class="table-bus" style="color:#000">
                                <tr>
                                    <th style="font-weight:bold">LIPPO</th>
                                    <th style="font-weight:bold">BLOK-M</th>
                                    <th style="font-weight:bold">HALTE CROWN</th>
                                </tr>
                                <tr>
                                    <td>5:00</td>
                                    <td>6:00</td>
                                    <td>6:30</td>
                                </tr>
                                <tr>
                                    <td>5:30</td>
                                    <td>6:30</td>
                                    <td>7:00</td>
                                </tr>
                                <tr>
                                    <td>5:45</td>
                                    <td>6:45</td>
                                    <td>7:15</td>
                                </tr>
                                <tr>
                                    <td>6:00</td>
                                    <td>7:00</td>
                                    <td>7:30</td>
                                </tr>
                                <tr>
                                    <td>6:30</td>
                                    <td>7:30</td>
                                    <td>8:00</td>
                                </tr>
                                <tr>
                                    <td>7:00</td>
                                    <td>8:00</td>
                                    <td>8:45</td>
                                </tr>
                                <tr>
                                    <td>8:00</td>
                                    <td>9:15</td>
                                    <td>9:30</td>
                                </tr>
                                <tr>
                                    <td>8:45</td>
                                    <td>10:00</td>
                                    <td>10:15</td>
                                </tr>
                                <tr>
                                    <td>9:30</td>
                                    <td>10:45</td>
                                    <td>11:00</td>
                                </tr>
                                <tr>
                                    <td>10:15</td>
                                    <td>11:30</td>
                                    <td>11:45</td>
                                </tr>
                                <tr>
                                    <td>11:00</td>
                                    <td>12:00</td>
                                    <td>12:30</td>
                                </tr>
                                <tr>
                                    <td>12:00</td>
                                    <td>13:00</td>
                                    <td>13:45</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col col-50">
                            <table align="center" class="table-bus" style="color:#000">
                                <tr style="font-weight:bold">
                                    <th style="font-weight:bold">LIPPO</th>
                                    <th style="font-weight:bold">BLOK-M</th>
                                    <th style="font-weight:bold">HALTE CROWN</th>
                                </tr>
                                
                                <tr>
                                    <td>13:00</td>
                                    <td>14:00</td>
                                    <td>14:15</td>
                                </tr>
                                <tr>
                                    <td>13:45</td>
                                    <td>15:00</td>
                                    <td>15:15</td>
                                </tr>
                                <tr>
                                    <td>14:45</td>
                                    <td>16:00</td>
                                    <td>16:15</td>
                                </tr>
                                <tr>
                                    <td>15:30</td>
                                    <td>16:30</td>
                                    <td>16:45</td>
                                </tr>
                                <tr>
                                    <td>16:00</td>
                                    <td>17:15</td>
                                    <td>17:30</td>
                                </tr>
                                <tr>
                                    <td>16:30</td>
                                    <td>17:45</td>
                                    <td>18:00</td>
                                </tr>
                                <tr>
                                    <td>17:00</td>
                                    <td>18:15</td>
                                    <td>18:30</td>
                                </tr>
                                <tr>
                                    <td>17:30</td>
                                    <td>18:45</td>
                                    <td>19:00</td>
                                </tr>
                                <tr>
                                    <td>18:15</td>
                                    <td>19:30</td>
                                    <td>20:00</td>
                                </tr>
                                <tr>
                                    <td>19:00</td>
                                    <td>20:00</td>
                                    <td>20:30</td>
                                </tr>
                                <tr>
                                    <td>20:15</td>
                                    <td>-</td>
                                    <td>21:00</td>
                                </tr>
                                <tr>
                                    <td>21:15</td>
                                    <td>-</td>
                                    <td>22:15</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- End : Monday - Friday -->
                </ion-slide>

                <ion-slide>
                    <!-- Start : Saturday & Sunday -->
                    <div class="row" style="margin-top:35px;height:auto">
                        <div class="col col-50">
                            <table align="center" class="table-bus" style="color:#000">
                                <tr>
                                    <th style="font-weight:bold">LIPPO</th>
                                    <th style="font-weight:bold">BLOK-M</th>
                                    <th style="font-weight:bold">HALTE CROWN</th>
                                </tr>
                                <tr>
                                    <td>6:00</td>
                                    <td>7:30</td>
                                    <td>7:45</td>
                                </tr>
                                <tr>
                                    <td>7:30</td>
                                    <td>8:00</td>
                                    <td>8:15</td>
                                </tr>
                                <tr>
                                    <td>7:45</td>
                                    <td>8:30</td>
                                    <td>9:00</td>
                                </tr>
                                <tr>
                                    <td>8:45</td>
                                    <td>9:30</td>
                                    <td>9:45</td>
                                </tr>
                                <tr>
                                    <td>9:15</td>
                                    <td>10:15</td>
                                    <td>10:30</td>
                                </tr>
                                <tr>
                                    <td>10:00</td>
                                    <td>11:00</td>
                                    <td>11:15</td>
                                </tr>
                                <tr>
                                    <td>10:45</td>
                                    <td>11:45</td>
                                    <td>12:00</td>
                                </tr>
                                <tr>
                                    <td>11:30</td>
                                    <td>12:30</td>
                                    <td>12:45</td>
                                </tr>
                                <tr>
                                    <td>12:15</td>
                                    <td>13:15</td>
                                    <td>13:30</td>
                                </tr>
                                <tr>
                                    <td>13:00</td>
                                    <td>14:00</td>
                                    <td>14:15</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col col-50" style="border-left: 0.25px solid #2980b9;">
                            <table align="center" class="table-bus" style="color:#000">
                                <tr style="font-weight:bold">
                                    <th style="font-weight:bold">LIPPO</th>
                                    <th style="font-weight:bold">BLOK-M</th>
                                    <th style="font-weight:bold">HALTE CROWN</th>
                                </tr>
                                <tr>
                                    <td>13:45</td>
                                    <td>14:00</td>
                                    <td>15:00</td>
                                </tr>
                                <tr>
                                    <td>14:30</td>
                                    <td>15:30</td>
                                    <td>15:45</td>
                                </tr>
                                <tr>
                                    <td>15:15</td>
                                    <td>16:15</td>
                                    <td>16:30</td>
                                </tr>
                                <tr>
                                    <td>16:00</td>
                                    <td>17:00</td>
                                    <td>17:15</td>
                                </tr>
                                <tr>
                                    <td>16:45</td>
                                    <td>17:45</td>
                                    <td>18:00</td>
                                </tr>
                                <tr>
                                    <td>17:30</td>
                                    <td>18:30</td>
                                    <td>18:45</td>
                                </tr>
                                <tr>
                                    <td>18:15</td>
                                    <td>19:15</td>
                                    <td>19:30</td>
                                </tr>
                                <tr>
                                    <td>19:00</td>
                                    <td>20:00</td>
                                    <td>20:15</td>
                                </tr>
                                <tr>
                                    <td>20:00</td>
                                    <td>-</td>
                                    <td>21:15</td>
                                </tr>
                                <tr>
                                    <td>21:15</td>
                                    <td>-</td>
                                    <td>22:00</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="height:auto">
                        <div class="col col-50">
                            <table align="center" class="table-bus" style="color:#000">
                                <tr>
                                    <th style="font-weight:bold">INTERNAL</th>
                                    <th style="font-weight:bold"></th>
                                </tr>
                                <tr>
                                    <td style="padding-left: 1em">{{'session'| translate}} 1</td>
                                    <td style="padding-left: 1em">06.00 - 09.00</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 1em">{{'session'| translate}} 2</td>
                                    <td style="padding-left: 1em">12.00 - 14.00</td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 1em">{{'session'| translate}} 3</td>
                                    <td style="padding-left: 1em">16.00 - 21.00</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col col-50"></div>
                    </div>
                    <!-- End : Saturday & Sunday -->
                </ion-slide>

            </ion-slide-box>

        </ion-drawer-vertical-content>

        <ion-drawer-vertical-handle />

    </ion-drawer-vertical-wrapper>     

        <a style="z-index:1 !important;position:fixed;bottom:0.8em;left:0.5em;margin:0;cursor:pointer;font-size:10px;font-weight:bold;color:#2980b9;display:block;background-color:#fbfbfb;padding:5px;width:auto;box-shadow:0 2px 5px rgba(0, 0, 0, 0.25);text-transform:uppercase;" ng-click="toggleDrawer()">{{'expand'| translate}}</a>

    <ion-content scroll="true" style="z-index: -1 !important;">   
        <div id="map" data-tap-disabled="true"></div>         
    </ion-content>

</ion-view>