<ion-view view-title="{{'call' | translate}} {{'center' | translate}}">
    <ion-content>
        <div class="itemModal" ng-repeat="list in data">
            <center>
                <h2>{{ list.title }}</h2>
            </center>
            <div class="talktoUs">
                <center>
                    <p style="width:100%;height:100%;">{{ list.description }}</p>
                </center>
                <center>
                    <a class="button" ng-href="tel:{{ list.phone }}" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:white;background-color:#0D6DB6;height:85%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);">
                    <strong style="font-size: 12px">{{'call' | translate}}</strong>
                    <span style="font-size: 12px">{{'center' | translate}}</span>
                    <img src="img/talkToUs/call_w.png" style="width:20%;padding-left:6%;padding-right:3%;">
                    </a>

                </center>
            </div>
        </div>
    </ion-content>
</ion-view>