<ion-view cache-view="false" view-title="CCTV">
  <ion-slide-box show-pager="false">
    <ion-slide>
      <ion-content overflow-scroll="true">
      <div class="photoGallery" style="margin-top: 5vh;margin-bottom: 2vh;">
        <h3 class="topTitle">{{name}}</h3>
        <iframe src="{{bahasa}}" style="margin-top: 2vh;width: 100vw;height: 40vh;" allowfullscreen></iframe>

        <br>
        <div class="row" style="margin-top:8%;margin-bottom: 15%; position: absolute;">
          <a ng-if="gall != min" class="col-20" ng-href="#/app/cctvDetail/{{gall - (1)}}"><i class="fa fa-caret-left" style="font-size:32px;color:#0081c9;"></i></a>
          <a ng-if="gall == min" class="col-20"><i class="fa fa-caret-left" style="font-size:32px;color:#0081c9;"></i></a>
          <a class="col-60"></a>
          <a ng-if="gall != max" class="col-20" ng-href="#/app/cctvDetail/{{gall - (-1)}}"><i class="fa fa-caret-right" style="font-size:32px;color:#0081c9;"></i></a>
          <a ng-if="gall == max" class="col-20"><i class="fa fa-caret-right" style="font-size:32px;color:#0081c9;"></i></a>
        </div>
        <center><div class="row" style="margin-top:21%;margin-bottom: 15%; position: absolute;">
        <div class="row">
          <div class = "col-33">
            <a ng-href="#/app/cctvFull/{{port}}"> <!--ng-click="playFull()"-->
                <img src="img/cctv/icon_t_fullscreen.png" style="width:50%;height:auto; margin: 0;">
            </a>
          </div>
          <div class = "col-33">
            <a ng-href="#/app/cctvDetail"> <!--ng-click="playFull()"-->
              <img src="img/cctv/icon_t_theater.png" style="width:50%;height:auto; margin: 0;">
            </a>
          </div>
          <div class = "col-33">
            <a ng-href="#/app/cctvList"> <!--ng-click="playFull()"-->
              <img src="img/cctv/icon_t_list.png" style="width:50%;height:auto; margin: 0;">
            </a>
          </div>
        </div>
        </div></center>
        <center><div class="row" style="margin-top:40%;margin-bottom: 10%; position: absolute;">
        <div class="row">
          <div class="col-33">
                <h3 style="font-size:10px;">Full Screen</h3>
          </div>
          <div class="col-33">
                <h3 style="font-size:10px;">Theater</h3>
            </div>  
          <div class="col-33">
                <h3 style="font-size:10px;">List</h3>
            </div>
          </div>
          </div></center>
      </div>
      </ion-content>
    </ion-slide>
  </ion-slide-box>
</ion-view>
