<ion-view view-title="eComplaint">
    <ion-content>
        <center style="margin:0;padding:0;"><img src="img/talkToUs/languagesupport.png" style="width:35%;height:auto;margin:4em 0 0 0;padding:0;"></center>
        <div>
            <p align="center" style="font-size: 19px;font-weight: 500;line-height: 1em; padding-left:1em;padding-right:1em;padding-bottom: 0em;padding-top: 1em;margin-bottom: 0;">
                {{'eComplaint' | translate}}
            </p>
            <p align="center" style="font-size: 19px;font-weight: 500;line-height: 1em; padding-left:1em;padding-right:1em;padding-bottom: 1em;padding-top: 0;margin-top: 0;">
                {{'eComplaint2' | translate}}
            </p>
        </div>
        <center><a class="button ng-binding" ng-href="#/app/eComplaintList" style="background-color:#0081C8;color:white;width:90%;height:3%;border-radius:20px;border:0;outline:0;margin-top:0;">{{'btn_eC' | translate}}</a></center>
    </ion-content>
</ion-view>