<ion-view title="eComplaint" can-swipe-back="false">

  <div class="tabs-top tabs-background-light tabs-color-positive">
    <div class="tabs">
      <a class="tab-item {{ generals }} full-width-tab " style="font-weight:500;border-bottom:{{generals == 'active' ? '5px solid #2980b9' : '5px solid #ecf0f1'}};border-right:{{generals == 'active' ? '1px solid #2980b9' : '1px solid #ecf0f1'}}" ng-click="general()" id="generaltab" ng-show="slideIndex = 1">
        <i style="font-weight:500;letter-spacing:-0.5px;color:{{generals == 'active' ? ' #2980b9' : '#ecf0f1'}}" class="dark">{{ 'track' | translate }}</i>
      </a>
      <a class="tab-item {{ propertys }} full-width-tab" style="font-weight:500;border-bottom:{{propertys == 'active' ? '5px solid #2980b9' : '5px solid #ecf0f1'}};border-left:{{propertys == 'active' ? '1px solid #2980b9' : '1px solid #ecf0f1'}};" ng-click="property()" id="propertytab" ng-show="slideIndex = 2">
        <i style="font-weight:500;letter-spacing:-0.5px;color:{{propertys == 'active' ? ' #2980b9' : '#ecf0f1'}}" class="dark">{{ 'add_new' | translate }}</i>
      </a>
    </div>
  </div>

  <ion-content class="has-footer">

    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">

      <ion-slide>
        <!-- Start : Saturday & Sunday -->
        <div class="row" style="height:auto">
          <ion-bar class="bar bar-subheader bar-stable" style="border:0;outline:0">
            <div class="row">
              <div class="col col-50">

              </div>
              <div class="col col-50">
                <select ng-model="sortBy" class="dropdown-filter">
                  <option value="">{{ 'sort' | translate }}</option>
                  <option value="-tanggal">{{'number'|translate}}</option>
                  <option value="StatusCase">Status</option>
                </select>
              </div>
            </div>
          </ion-bar>

          <ion-content style="margin-top:8em;" class="has-footer">
            <ion-list><!-- href="#/app/eComplaintDetail/{{item.CaseNumber}}"-->
              <ion-item class="item" ng-repeat="item in dataList | orderBy : sortBy | filter :search_page" style="margin-bottom:0;margin-top:-1%;margin-left: 0 !important;padding:0.5em;" href="#/app/eComplaintDetail/{{item.CaseNumber}}">
                  <div class="row">
                    <div class="col col-100">
                        <h6 style="color:black;font-size:8px;margin-bottom:-2%;text-align:left;font-weight:500;">
                        {{ item.CaseNumber }}
                        </h6>
                      </div>
                  </div>
                  <div class="row" style="margin-top:0%;">
                      <div class="col col-50">
                        <h5 style="color:black;font-size:13px;margin-bottom:-2%;text-align:left;font-weight:500;">
                        {{ item.HelpName }}
                        </h5>
                      </div>
                      <div class="col col-50">
                        <p align="center" style="color:black;font-size:10px;margin-bottom: -6%;text-align:center;font-weight:500;margin-right: 0.5em;margin-top:-0.5em;margin-left: 2.5em;">
                         {{item.tanggal | date : "dd/MM/y"}}
                        </p>
                      </div>
                  </div>

                <div class="row">
                    <p ng-if="item.Description != null" class="col col-offset-70" style="color:grey;font-size:10px;text-align:left;font-weight:500;">
                        {{item.Description}}
                    </p>
                    <p ng-if="item.Description == null" class="col col-offset-70" style="color:grey;font-size:10px;text-align:left;font-weight:500;">
                        &nbsp;
                    </p>
                    <div class="col col-30" align="right" style="text-align: right;float: right;margin-left: 4.5em;">
                      <!--<a ng-if="item.StatusCase == 'In Progress'" class="button button-positive" style="position:absolute;width: 30%;border-radius: 15px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:white;background-color:#2980b9;height: 2.5em;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0;margin-top: -0.5em;font-size: 10px;">
                          In Progress
                      </a>
                      <a ng-if="item.StatusCase == 'On Hold'" class="button button-positive" style="position:absolute;width: 30%;border-radius: 15px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:white;background-color:#2980b9;height: 2.5em;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0;margin-top: -0.5em;font-size: 10px;">
                          On Hold
                      </a>
                      <a ng-if="item.StatusCase == 'Assigned to PIC'" class="button button-positive" style="position:absolute;width: 30%;border-radius: 15px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:white;background-color:#2980b9;height: 2.5em;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0;margin-top: -0.5em;font-size: 10px;">
                          Accepted 
                      </a>
                      <a ng-if="item.StatusCase == 'Progress Completed'" class="button button-positive" style="position:absolute;width: 30%;border-radius: 15px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:darkgrey;background-color:lightgrey;height: 2.5em;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0;margin-top: -0.5em;font-size: 10px;">
                          Solved
                      </a>-->
                      <a class="button button-positive" style="position:absolute;width: 30%;border-radius: 15px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:white;background-color:#2980b9;height: 2.5em;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);margin-right: 0;margin-top: -0.5em;font-size: 10px;">
                          {{item.StatusCase}} 
                      </a>
                    </div>
                </div>
              </ion-item>  
            </ion-list>    
          </ion-content>
        </div>
        <!-- End : Saturday & Sunday -->
      </ion-slide>

      <ion-slide>
        <!-- Start : Monday - Friday -->
        <div class="row" style="height:auto">
          <ion-content style="background-color: rgb(236, 240, 241);padding:1em;">
            <form>
            <div class="row" style="margin-top: 2em;padding: 0.5em;">
              <div class="col-50" align="left">
                <h4 style="color:#2980b9;">{{'CC'|translate}}</h4>
              </div>
              <div class="col-50" style="color:#2980b9;margin-top: 0.7em;">
                {{pps}}
              </div>
            </div>
            <div class="col-100">
              <select ng-model="data.index" ng-change="changedUnit()" class="dropdown-filter">
                     <option value="">Unit</option>
                     <option value="{{ category.IdDropDown }}" ng-repeat="category in unit">{{ category.LabelDropDown }}</option>
              </select>
            </div>
            <div class="col-100" style="margin-top: 1em;">
              <select ng-model="data.concern" class="dropdown-filter">
                     <option value="" selected="selected">{{'what_c'|translate}}</option>
                     <option value="{{ label.IdDropDown }}" ng-repeat="label in nameDropDown">{{ label.LabelDropDown }}</option>
              </select>
            </div>
            <div class="col-100" style="margin-top: 1em;">
              <label class="item item-input text">
                    <textarea placeholder="{{'desc_c'|translate}}" name="description" type="text" ng-model="data.description" rows="5" style="margin-right:18px;" required></textarea>
              </label>
            </div>
            <div class="col-100" style="margin-top: 1em;color:#2980b9;font-size: 75%;">
              <p align="left">Max. file size : 15 MB</p>
            </div>
            <div class="col-100" style="margin-top: 0.5em;margin-bottom: 1em">
              <div align="left" ng-show="checking === false">
                    <button ng-click="Pick()" class="button button-positive button-small">
                        {{ 'upload' | translate }}
                    </button>
                </div>
                <div class="row" ng-show="checking === true" style="color: white; background-color: #387EF5">
                    <center>
                        <button class="button button-positive button-small">
                            {{ 'upload' | translate }}
                        </button>
                    </center>
                    <div ng-if="images" class="col col-75">
                        <table width="100%">
                            <tr ng-repeat="item in images">
                                <td width="100%" align="left">
                                    {{ item.filename | limitTo : 12 : 79}} ..
                                </td>
                                <td>
                                    <br>
                                    <div class="loader" ng-if="progressUpload">loader</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col text-right" ng-click="clearImages()">x</div>
                </div>
            </div>
            <div class="row">
                <div class="col text-left">
                    <button ng-disabled="myform.$invalid" type="submit" ng-click="newCase(data)" class="button button-positive button-small" style="width:75px;margin-left:-5%;border-radius: 10px;">{{ 'post' | translate }}</button>
                </div>
                <div class="col text-right">
                    <a href="#/app/eComplaint">
                        <button class="button button-positive button-small" style="width:75px;margin-right:-5%;border-radius: 10px;">{{ 'cancel' | translate }}</button>
                    </a>
                </div>
            </div>
            </form>
          </ion-content>
        </div>
        <!-- End : Monday - Friday -->
      </ion-slide>

    </ion-slide-box>
  </ion-content>