<ion-view view-title="{{categoryname}}" can-swipe-back="false">
    <ion-bar class="bar bar-subheader bar-stable" style="border:0;outline:0;">
        <div class="row">
            <div class="col col-50">
            </div>
            <div class="col col-50">
                <a href="#/app/newforum">
                    <h4 style="color: #2980b9;float:right;">{{ 'new_topic' | translate }}</h4>
                </a>
            </div>
        </div>
    </ion-bar>
    <ion-content style="margin-top:45px; margin-bottom:20%;">
        <div class="row">
            <h5 class="col col col-80 col-offset-10">{{ 'discussion_title' | translate }}</h5>
        </div>
        <form class="col col-80 col-offset-10">
            <label class="item item-input ">
                    <input type="text" ng-model="detail.title" required>
                </label>
            <br>
            <label class="item item-input text">
                    <textarea type="text" ng-model="detail.description" rows="10" style="margin-right:18px;" required>{{detail.description}}</textarea>
</label>
            <br>
            <div ng-show="checking === false">
                <button ng-click="loadImage()" class="button button-positive button-small">
                        {{ 'upload' | translate }}
                    </button>
            </div>
            <div class="row" ng-show="checking === true" style="color: white; background-color: #387EF5">
                <center>
                    <button class="button button-positive button-small">
                            {{ 'upload' | translate }}
                        </button>
                </center>
                <div class="col col-75">
                    <table width="100%">
                        <tr ng-repeat="item in images">
                            <td width="40%" align="left">
                                {{ item | limitTo : 6 : -6 }} ...
                            </td>
                            <td>
                                <br>
                                <div class="loader" ng-if="progressUpload">loader</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col text-right" ng-click="clearImages()">x</div>
            </div>
            <br>
        </form>
        <div class="contentTenant" style="margin-left: 3em;">
            <img on-long-press="itemOnLongPress(gallery.idgalleryforums)" ng-click="openModal(2)" ng-repeat=" gallery in galleryforums " style="width: 25%; padding-right: 5%; " src="{{gallery.avatar}} " ng-if="gallery.avatar ">
        </div>
        {{galleryforums.idgalleryforums}}
        <div class="row col-80 col-offset-10 ">
            <div class="col col-50 ">
                <button ng-click="updateForum(detail); " class="button button-block button-positive ">{{ 'edit' | translate }}</button>
            </div>
            <div class="col col-50 ">
                <button class="button button-block button-positive " ng-click="$ionicGoBack() ">{{ 'cancel' | translate }}</button>
            </div>
        </div>
    </ion-content>
    <script id="templates/forumGallery.html" type="text/ng-template" ng-controller="forumdetail">
        <ion-modal-view>
            <ion-view view-title="Forum Gallery" ng-controller="forumGallery">
                <ion-slide-box on-slide-changed="slideChanged()" show-pager="false" active-slide="gall">
                    <ion-slide ng-repeat="gallery in galleryforums">
                        <div class="photoGallery">
                            <img ng-src="{{gallery.avatar}}" class="square" />
                            <p class="bottomNumber">{{$index+1}} of {{galleryforums.length}} </p>
                            <br>
                            <div class="row" style="margin-top:40%;">
                                <a class="col-50" ng-click="previous()"><i class="ion-chevron-left" style="color:blue;"></i></a>
                                <a class="col-50" ng-click="next()"><i class="ion-chevron-right" style="color:blue;"></i></a>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </ion-view>
        </ion-modal-view>
    </script>
</ion-view>