<div class="modal transparent image-modal" overflow-scroll="true">
    <div class="row">
        <div class="col col-80 transparent"></div>
        <div ng-click="closeModal()" class="col" style="margin: 0;background-color: white;"><center><img style="width: 50%;height: 50%" src="img/ic_close.png"></center></div>
    </div>

    <ion-content class="itemModal" overflow-scroll="true">
        <ion-scroll direction="y" style="width: 100%; height: 100%">
        <center>
                <iframe scrolling="no" src="{{ketentuanLink}}" style="height: 120em; width:100%; border: none; padding-bottom: 4em"></iframe>
        </center>
        </ion-scroll>
    </ion-content>
</div>