<ion-view view-title="{{ 'forum' | translate }}">
    <ion-header-bar class="bar-positive" style="background-color: #0081c9;">
        <ion-nav-back-button class="button-clear" ng-click="myGoBack()">
        </ion-nav-back-button>
    </ion-header-bar>
    <ion-bar class="bar bar-subheader bar-stable" style="border:0;outline:0;">
        <div class="row">
            <div class="col col-50">
            </div>
            <div class="col col-50">
                <a href="#/app/newforum">
                    <h5 style="float:right;">{{ 'new_topic' | translate }}</h5>
                </a>
            </div>
        </div>
    </ion-bar>
    <ion-content style="margin-top:20%;" class="has-footer has-header">
        <div class="contentTenant" style="margin-bottom:6%">
            <form name="myform">
                <label><h5>{{ 'discussion_title' | translate }}</h5></label>
                <label class="item item-input">
                    <input name="title" type="text" ng-model="data.title" required>
                </label>
                <br>
                <label class="item item-input text">
                    <textarea name="desc" type="text" ng-model="data.description" rows="10" style="margin-right:18px;" required></textarea>
                </label>
                <br>
                <div ng-show="checking === false">
                    <button ng-click="loadImage()" class="button button-positive button-small">
                        {{ 'upload' | translate }}
                    </button>
                </div>
                <div class="row" ng-show="checking === true" style="color: white; background-color: #387EF5">
                    <center>
                        <button class="button button-positive button-small">
                            {{ 'upload' | translate }}
                        </button>
                    </center>
                    <div class="col col-75">
                        <table width="100%">
                            <tr ng-repeat="item in images">
                                <td width="40%" align="left">
                                    {{ item | limitTo : 6 : -6 }} ...
                                </td>
                                <td>
                                    <br>
                                    <div class="loader" ng-if="progressUpload">loader</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col text-right" ng-click="clearImages()">x</div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col text-left">
                        <button ng-disabled="myform.$invalid" type="submit" ng-click="newforum(data)" class="button button-positive button-small" style="width:75px;margin-left:-5%;">{{ 'post' | translate }}</button>
                    </div>
                    <div class="col text-right">
                        <a href="#/app/forum">
                            <button class="button button-positive button-small" style="width:75px;margin-right:-5%;">{{ 'cancel' | translate }}</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
