<ion-view view-title="{{'pro_gallery' | translate}}">
    <ion-nav-bar class="bar bar-positive bar-custom" style="background-color: #0081c9;">
      <ion-nav-back-button class="button-icon">
        <i class="ion-chevron-left"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
     <ion-slide-box ng-if="gall" on-slide-changed="slideChanged()" show-pager="false" active-slide="gall">
           <ion-slide ng-repeat="details in propertygallery">
                   <div class="photoGallery scroll" style="position: relative;">
                        <ion-content overflow-scroll="true">
                        <img ng-src="{{details.image}}" class="square" style="margin-top: 10%;"/>
                        <div class="row" style="margin-top:30%;margin-bottom: 30%; position: absolute;">
                          <p class="bottomNumber col-12" style="position: absolute;margin-bottom: 10%;margin-top: 17%;">{{details.number}} {{'of' | translate}} {{len}}</p>
                          <p class="bottomTitle col-12" style="position: absolute;margin-bottom: 15%;margin-top: 13%;">{{details.title}}</p>
                        </div>
                        <br>

                        <div class="row" style="margin-top:13%;margin-bottom: 15%; position: absolute;">
                            <a class="col-50" ng-click="previous()"><i class="ion-chevron-left" style="color:blue;"></i></a>
                            <a class="col-50" ng-click="next()"><i class="ion-chevron-right" style="color:blue;"></i></a>
                        </div>
                        </ion-content>
                   </div>
           </ion-slide>
    </ion-slide-box>
</ion-view>
