<ion-view view-title="{{'property_market' | translate}}">
    <ion-bar class="bar bar-subheader bar-stable" style="border:0;outline:0;">

        <div class="row">
            <div class="col col-50">
            </div>
            <div class="col col-50">
                <select ng-model="sortType" class="dropdown-filter">
                    <option value="">{{ 'featured' | translate }}</option>
                    <option value="">{{ 'sort_new' | translate }}</option>
                    <option value="-price">{{ 'sort_harga' | translate }}</option>
                    <option value="-historycount">{{ 'sort_popular' | translate }}</option>
                </select>
            </div>
        </div>
    </ion-bar>
    <ion-content style="margin-top:45px;">
        <ion-list>
            <ion-item class="item item-thumbnail-left item-text-wrap" ng-repeat="list in data |  filter : search_page | filter : searchval | orderBy: sortType | orderBy: 'idbookmark' ">
                <img src="{{list.avatar}}">
                <div class="row">
                    <a class="col col-80" href="#/app/propertyDetail/{{list.idproperty}}" style="text-decoration:none">
                        <h2 style="font-weight:500;font-size:18px;"> {{list.name}} </h2>
                        <p>{{ 'type' | translate }} {{list.type}} </p>
                        <p> LB / LT : {{list.lb}} / {{list.lt}} m<sup>2</sup> </p>
                        <h4 style="font-weight:100;font-size:18px;"> IDR {{list.price | number:0 }} </h4>
                    </a>
                    <div class="col col-20">
                        <fieldset class="ratingbtn postratingbtn" ng-if="list.bookmarked == false" ng-click="insertBookmarkProperty(list.idproperty)">
                            <input class="inputProperty" type="radio" />
                            <label class="labelProperty" style="transform:scale(1.5);vertical-align:middle;"></label>
                        </fieldset>

                        <fieldset class="ratingbtn postratingbtn" ng-if="list.bookmarked == true" ng-click="deleteBookmarkProperty(list.idbookmark)">
                            <input class="inputProperty" type="radio" />
                            <label class="labelProperty" style="transform:scale(1.5);vertical-align:middle;color:#2980b9;"></label>
                        </fieldset>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>