<ion-view view-title="{{'property_market' | translate}}" style="background: linear-gradient(#1d6fa5, #063C6F);">
    <ion-content class="padding" style="margin-top:10%;padding:0px 40px 0px 40px;">
        <div class="col" style="text-align:center;padding: 0 0 px 0">
            <img src="img/property_start.png" style="width:20%;">
        </div>
        <div style="color:#fff;">
            <center><h4 style="font-weight:500;color:#fff">{{ 'property_market' | translate }}</h4></center>
            <p style="text-align:center;font-size:12px;">{{ 'property_start' | translate }} <br><br> {{ 'property_finding' | translate }}</p>
        </div>
        <div class="row">
            <div class="col col-40" align="left">
                <a class="button button-block" href="#/app/property/buy" style="border-radius:20px;font-weight:900;background-color:#389fde;border:0;outline:0;color:white;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);min-height:30px;line-height: 32px;width:6em;font-weight:normal">{{ 'buy' | translate }}</a>
            </div>
            <div class="col col-20"></div>
            <div class="col col-40" align="right">
                <a class="button button-block button-calm" href="#/app/property/rent" style="border-radius:20px;font-weight:900;background-color:#389fde;border:0;outline:0;color:white;width:100%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);min-height:30px;line-height: 32px;width:6em;font-weight:normal">{{ 'rent' | translate }}</a>
            </div>
        </div>
    </ion-content>
</ion-view>