<ion-view view-title="eBilling" style="background: linear-gradient(#1d6fa5, #063C6F);">
    <ion-content class="padding" style="margin-top:10%;padding:0px 40px 0px 40px;">
        <div style="line-height:200px;text-align:center;">
            <center>
                <div style="display:inline-block;vertical-align: middle;line-height:normal;">
                    <h4 style="font-size:220%;font-weight:300;color:#fff;letter-spacing:4px;padding-top: 3em;">{{ 'soon' | translate }}</h4>
                </div>
            </center>
        </div>
    </ion-content>
</ion-view>