<div class="modal transparent image-modal">
    <div class="row">
        <div class="col col-80 transparent"></div>
        <div ng-click="closeModal()" class="col" style="margin: 0;background-color: white;">
            <center><img style="width: 50%;height: 50%" src="img/ic_close.png"></center>
        </div>
    </div>

    <div class="itemModal" ng-repeat="talktoUs in datatalk" style="border-radius: 0 !important" overflow-scroll="true">
        <ion-scroll direction="y" style="width:100%;height:100%">
            <div style="letter-spacing:-0.1px">
                <h4 style="font-weight:300;">{{ talktoUs.header }}</h4>
                <hr style="height:1px;color:#0081c9;background-color:#0081c9;border:none;">
                <p style="white-space:pre-wrap;font-size:70%;font-weight:500;line-height:1.1em">{{ talktoUs.description }}</p>
                <div class="row talktoUs" style="padding:0px 0px 0px 10px;">
                    <img class="col-15" src="img/talkToUs/languagesupport.png" style="width:10%;height:10%;margin-top:0.5em;padding-right:2px;"> &nbsp;
                    <div class="col-85">
                        <h2 style="font-size:12px;margin-top:8px;margin-bottom:0;">{{ talktoUs.heading1 }}</h2>
                        <p style="font-size:10px;font-weight:500;">{{ talktoUs.content1 }}</p>
                    </div>
                </div>
                <div class="row talktoUs" style="padding:0px 0px 0px 10px;margin-top:3px;">
                    <img class="col-15" src="img/talkToUs/servicehours.png" style="width:10%;height:10%;margin-top:0.5em;padding-right:2px;"> &nbsp;
                    <div class="col-85">
                        <h2 style="font-size:12px;margin-top:8px;margin-bottom:0;">{{ talktoUs.heading2 }}</h2>
                        <p style="font-size:10px;font-weight:500;">{{ talktoUs.content2 }}</p>
                    </div>
                </div>
                <div class="talktoUsRed" style="margin-top:3px;">
                    <center>
                        <p style="font-size:10px;font-weight:500;line-height:1.1em">{{ talktoUs.content3 }}</p>
                        <table align="center" border="1" style="margin-top: -5px">
                            <tr>
                                <td><img class="r1" src="img/talkToUs/fire.png"></td>
                                <td><img class="r1" src="img/talkToUs/crash.png"></td>
                                <td><img class="r1" src="img/talkToUs/emergency.png"></td>
                                <td><img class="r1" src="img/talkToUs/respon_team.png"></td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="row1">Fire</p>
                                </td>
                                <td>
                                    <p class="row1">Crash</p>
                                </td>
                                <td>
                                    <p class="row1">Emergency Call</p>
                                </td>
                                <td>
                                    <p class="row1">Response Team</p>
                                </td>
                            </tr>
                        </table>
                        <p style="font-size:10px;font-weight:100;margin-bottom:-1em;">{{ talktoUs.content4 }}</p>
                        <strong style="font-size:9px;font-weight:bolder;margin-top:-4px;text-decoration:none;color:black !important;">{{ talktoUs.emergencycall }}</strong>
                        <div style="padding:1% 5%;" class="row sub-menu">
                            <div class="col" style="padding:0px 50px 0px 50px;">
                                <a class="button button-assertive" href="tel:{{ talktoUs.emergencycall }}" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;height:85%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);background-color:#CD332C">
                                    <strong style="font-size: 12px">{{'emergency_call_1' | translate}}</strong>
                                    <span style="font-size: 12px">{{'emergency_call_2' | translate}}</span>
                                    <img src="img/talkToUs/call_w.png" style="width:23%;padding-left:3%;padding-right:3%;">
                                </a>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="talktoUs" style="margin-top:3px">
                    <center>
                        <p style="font-size:10px;font-weight:500">{{ talktoUs.content5 }}</p>
                        <table align="center" border="1">
                            <tr>
                                <td><img class="r1" src="img/talkToUs/services.png"></td>
                                <td><img class="r1" src="img/talkToUs/billing.png"></td>
                                <td><img class="r1" src="img/talkToUs/water.png"></td>
                                <td><img class="r1" src="img/talkToUs/issue.png"></td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="row2">Services</p>
                                </td>
                                <td>
                                    <p class="row2">Billing</p>
                                </td>
                                <td>
                                    <p class="row2">Water</p>
                                </td>
                                <td>
                                    <p class="row2">Environment Issue</p>
                                </td>
                            </tr>
                        </table>
                        <p style="font-size:10px;">reach us <strong style="font-size:10px;font-weight:bolder;text-decoration:none;color:black !important;">{{talktoUs.callcenter}}</strong></p>
                        <div style="padding:1% 5%;" class="row sub-menu">
                            <div class="col" style="padding:0px 50px 0px 50px;margin-top:-12px;">
                                <a class="button" href="tel:{{ talktoUs.callcenter }}" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:white;background-color:#0D6DB6;height:85%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);">
                                    <strong style="font-size: 12px">{{'call' | translate}}</strong>
                                    <span style="font-size: 12px">{{'center' | translate}}</span>
                                    <img src="img/talkToUs/call_w.png" style="width:23%;padding-left:3%;padding-right:3%;">
                                </a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <div style="height: 5em;width:100%">
                &nbsp;
            </div>
        </ion-scroll>
    </div>
</div>