<ion-view view-title="{{ 'payment'| translate }}">
  <ion-bar class="bar bar-subheader bar-stable" style="border:0;outline:0;">
    <div style="text-align: center" class="row">
      <h4 class="col" align="center" style="color: #2980b9;vertical-align: middle">{{$root.type_payment}}</h4>
    </div>
  </ion-bar>
  <ion-content style="height: 100%;width: 100% ;margin-top:45px;">
    <iframe ng-src="{{url}}" width="90%" height="400" name="SELFHTML_in_a_box">
    </iframe>
  </ion-content>
</ion-view>
