<ion-view view-title="{{'what_new' | translate}}" style="background-color:#ecf0f1">
   <ion-content ng-controller="whatsNew" class="has-footer grey gallery">
       <div class="list card" ng-repeat="list in whatsnew | filter:search_page" ng-click="openModal(list)" style="border-radius:10px 10px 0px 0px">
           <div class="item">
               <h2>{{list.title}}</h2>
               <p ng-if="list.createdate==null" style="height:20px">&nbsp;</p>
               <p ng-if="list.createdate!=null">{{list.createdate | date : 'dd MMM yyyy'}}</p>
           </div>
           <div class="center-cropped-wa" style="margin-bottom: 0;">
               <img src="{{list.avatar}}" style="width:100vw;margin-bottom: -1em;"> 
           </div>
       </div>
       <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
   </ion-content>
</ion-view>