<div class="modal transparent image-modal">
    <div class="row">
        <div class="col col-80 transparent"></div>
        <div ng-click="closeModalSlider()" class="col" style="margin:0;background-color:white;border:0;outline:0;">
            <center><img style="width: 50%;height: 50%" src="img/ic_close.png"></center>
        </div>
    </div>

    <ion-content class="itemModal has-footer" overflow-scroll="true" style="border-radius: 0 !important;padding:0 !important;margin-bottom:1em !important;margin: 0 !important;">
            <div style="margin: -1px;padding: 10px 16px 0px 16px;;">
                <h3 style="font-weight:300;">{{list.title}}</h3>
                <hr style="border: 0.5px solid #0081c9;">
                <p style="font-size:10px;font-weight:700;">{{list.createdate | date : 'dd MMM yyyy'}}</p>
            </div>

            <ion-slide-box ng-if="list.gallery == false" auto-play="true" show-pager="false" slide-interval="3000" on-slide-changed="slideChanged(index)" style="height:auto;padding:0;margin:0;position:relative;">
                <ion-slide class="slider-slide-image" style="padding:0;margin:0;justify-content:center;align-items:center;height:180px;width:100%;">
                    <img class='ver-center' style="vertical-align: middle;" ng-src="{{list.avatar}}">
                </ion-slide>               
            </ion-slide-box>            
            
            <ion-slide-box ng-if="showGallery == true" auto-play="true" show-pager="false" slide-interval="3000" on-slide-changed="slideChanged(index)" style="height:auto;padding:0;margin:0;position:relative;">
                <ion-slide class="slider-slide-image" style="padding:0;margin:0;justify-content:center;align-items:center;height:180px;width:100%;">
                    <img class='ver-center' style="vertical-align: middle;" ng-src="{{list.avatar}}">
                </ion-slide> 
                <ion-slide class="slider-slide-image" ng-repeat="list in gallery" style="padding:0;margin:0;justify-content:center;align-items:center;height:180px;width:100%;">                    
                    <img class='ver-center' style="vertical-align: middle;" ng-src="{{list.avatar}}">
                </ion-slide>               
            </ion-slide-box>

            <div style="margin: -1px;padding: 0px 16px 16px 16px;font-size:12px;font-weight:300;margin-top:1em;margin-bottom:5em !important;width:100%;line-height:1.1em;border:none;" ng-bind-html="list.description" class="desc_news"></div>
    </ion-content>
</div>