<ion-view view-title="{{'invite_friend' | translate}}" can-swipe-back="false">
  <ion-nav-bar class="bar bar-positive bar-custom" style="background-color: #0081c9;">
        <ion-nav-back-button class="button-clear" ng-click="myGoBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>

    <div style="height: 50%;width: 100%">
      <img width="150" height="150" src="img/logo.png" style="margin-right: auto;margin-left: auto;display: block;margin-top: 10%">
    </div>

    <div class="row">
      <div class="col" style="text-align:center;padding:0;margin-top:-4em;">
        <h3 style="color:#3498db;font-weight:400;font-size:19px;">{{ 'inviteFriend' | translate }}</h3>
      </div>
    </div>
    </br>
    </br>
    <div align="center" style="margin-top:-2em;" class="row">
      <img ng-click="sharefacebook()" style="margin-right: auto;margin-left: auto;display: block;" width="70" height="70" src="img/fb_icon.png">
      <img ng-click="sharetwitter()" width="70" height="70" src="img/twitter_icon.png">
      <img ng-click="sharelinkedin()" style="margin-right: auto;margin-left: auto;display: block;" width="70" height="70" src="img/linkedin_logo.png">
    </div>
    </br>
    <div align="center" class="row">
      <img ng-click="shareline()" style="margin-right: auto;margin-left: auto;display: block;" width="70" height="70" src="img/line_icon.png">
      <img ng-click="shareemail()" width="70" height="70" src="img/mail_icon.png" >
      <img ng-click="sharewhatsapp()" style="margin-right: auto;margin-left: auto;display: block;" width="70" height="70" src="img/whatsapp_icon.png">
    </div>

  </ion-content>
</ion-view>
