<ion-view view-title="{{'mybookmark' | translate}}" can-swipe-back="false">
    <ion-bar class="bar bar-subheader bar-stable" style="border:0;outline:0;">
        <div class="row">
            <div class="col col-50"></div>
            <div class="col col-50">
                <select ng-model="sortType" style="margin-top:-1%;width:100%;height:32px;border-radius:10px;padding-left:10px">
                    <option value="">{{ 'sort' | translate }}</option>
                    <option value="longlat">{{ 'sort_distance' | translate }}</option>
                    <option value="tenantname">{{ 'sort_name' | translate }}</option>
                </select>
            </div>
        </div>
    </ion-bar>
    <ion-content style="margin-top:45px;">
        <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="list in listbookmark | filter : search_page | orderBy: sortType" href="#/app/tenantDetail/{{list.idtenant}}">
                <img src="{{list.avatar}}">
                <h2 style="font-weight:500;font-size:18px;"> {{list.tenantname}} </h2>
                <p>{{list.address}}</p>
                <p>{{ list.longlat | rounded:3 }} km </p>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>