<ion-view view-title="{{'app_name' | translate}}" name="register-view" class="bg-login">
    <ion-content style="padding:35px" overflow-scroll="true">

        <div class="col" style="text-align:center">
            <h4 style="color:#fff;letter-spacing:1px;font-weight:300;">{{ 'create_ur_account'| translate }}</h4>
        </div>

        <form ng-submit="registerManual(user)">
            <div class="list list-inset" style="background-color:transparent">
                <label class="item item-input">
                    <input type="text" placeholder="{{ 'hint_fullname'| translate }}" ng-model="user.fullname" style="padding-left:3.7px;color:darkgrey;" required>
                </label>
                <label class="item item-input" style="margin-top:1%">
                    <select style="width:110%;height:5vh;margin-left:0px;color:darkgrey;border:0px;font-weight:400;" ng-model="user.gender" required>
                        <option value="">{{ 'gender'| translate }}</option>
                        <option value="M">{{ 'male'| translate }}</option>
                        <option value="F">{{ 'female'| translate }}</option>
                    </select>
                </label>
                <label class="item item-input" style="margin-top:1%">
                    <input type="tel" placeholder="{{ 'hint_phone'| translate }}" ng-model="user.phone" style="padding-left:3.7px;color:darkgrey;" required>
                </label>
                <label class="item item-input" style="margin-top:1%">
                    <input type="email" placeholder="{{ 'hint_email'| translate }}" ng-model="user.email" style="padding-left:3.7px;color:darkgrey;" required>
                </label>
                <label class="item item-input" style="margin-top:1%">
                    <input type="password" placeholder="{{ 'hint_password'| translate }}" ng-model="user.password" style="padding-left:3.7px;color:darkgrey;" required>
                </label>
                <label class="item item-input" style="margin-top:1%">
                    <input type="password" placeholder="{{ 'hint_confirm_password'| translate }}" style="padding-left:3.7px;color:darkgrey;" ng-model="user.confpassword" required>
                </label>
                <center>
                    <select style="margin-top:3%;width:auto;height:32px;color:darkgrey;border-radius:10px;padding:7px;text-align:center">
                        <option>{{ 'language'| translate }}</option>
                        <option>{{ 'BUTTON_TEXT_DE'| translate }}</option>
                        <option selected>{{ 'BUTTON_TEXT_EN'| translate }}</option>
                    </select>
                </center>
                <div class="col" style="text-align:center">
                    <p style="color:#fff;letter-spacing:1px;">{{ 'join_us'| translate }}</p>
                    <a ng-click="facebook_auth()" style="margin:4px;">
                        <img src="img/lg_fb.png" width="50px">
                    </a>
                    <a ng-click="google_auth()" style="margin:4px;">
                        <img src="img/lg_g+.png" width="50px">
                    </a>
                    <a ng-click="twitter_auth()" style="margin:4px;">
                        <img src="img/lg_tw.png" width="50px">
                    </a>
                    <div class="item-text-wrap">
                        <ion-checkbox ng-model="user.checkbox1" required style="background-color:transparent;color:#fff;border:0;word-wrap:break-word;font-size:12px;">{{ 'terms_privacy'| translate }} <br> {{ 'terms_privacy_next'| translate }}</ion-checkbox>
                    </div>
                </div>

                <button ng-disabled="myForm.$invalid" class="button button-outline button-full" type="submit" style="border:3px solid #fff;color:#fff;font-weight:bold;border-radius:15px;text-transform:uppercase">{{ 'start_now'| translate }}</button>

                <div class="col" style="text-align:center">
                    <p style="color:#C5EFF7;letter-spacing:1px;font-size:13px;">{{ 'are_alreadyaccount'| translate }} <a style="text-decoration:none" ui-sref="login">{{ 'login'| translate }}</a></p>
                </div>
            </div>
        </form>

    </ion-content>
</ion-view>
