<ion-view view-title="{{ 'forgot_password' | translate }}" name="login-view">
    <ion-content class="padding">

        <div class="col" style="text-align:center">
            <h2>{{ 'reset_password' | translate }}</h2>
            <p>{{ 'reset_password_sub1' | translate }}</p>
            <p style="text-decoration: none;font-size: 13px;color: #2980b9;">{{ep}}</p>
            <p>{{ 'leght_password' | translate }}</p>
        </div>

        <form>

            <div class="list list-inset" style="background-color:#3498db">
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="data.password" >
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" ng-model="data.repassword">
                </label>
            </div>
            <div class="col" style="text-align:center">
                <p>{{ 'avoid_pasword' | translate }}</p>
            </div>
            <div class="row" id="submit_pass" hidden>
                <button ng-click="startApp()" class="col col-45 button button-positive" style="border-radius:15px">{{ 'cancel' | translate }}</button>
                <button type="submit" ng-click="resetPassword(data)" class="col col-45 col-offset-10 button button-positive" style="border-radius:15px">{{ 'reset' | translate }}</button>
            </div>
        </form>
    </ion-content>
</ion-view>