<ion-view hide-nav-bar="true">
    <ion-slide-box auto-play="true" does-continue="true" slide-interval="3000" on-slide-changed="slideChanged(index)">

        <ion-slide class="img1">
            <div class="splashScreen">

                <img src="img/splogo.png" width="50%" style="margin-top: 80%;display: none;">
                <h3 style="margin-top: 120%;">
                    <w>Get Up, Do Sportify!</w>
                </h3>
            </div>
        </ion-slide>

        <!-- <ion-slide class="img2">
            <div class="splashScreen2">
                <h3>
                    <w>{{ 'splash_g2_1'| translate }}</w>
                </h3>
                <h3>
                    <w>{{ 'splash_g2_2'| translate }}</w>
                </h3>
                <h3>
                    <w>{{ 'splash_g2_3'| translate }}</w>
                </h3>
            </div>
        </ion-slide>

        <ion-slide class="img3">
            <div class="splashScreen3">
                <h3>
                    <w>{{ 'splash_g3_1'| translate }}</w>
                </h3>
                <h4>
                    <w>{{ 'splash_g3_2'| translate }}</w>
                </h4>
            </div>
        </ion-slide> -->

    </ion-slide-box>

    <div class="headerSphlash">
        <div class="bottomLeft">
            <w>Beta Version</w>
        </div>
        <button class="getStarted button button-block" click-and-wait="startApp()" style="background-color:#0D6DB6;border:0;outline:0;color:white;opacity: 0.8;">{{ 'get_started'| translate }}</button>
        <!-- <button class="button-clear bottomRight" click-and-wait="startApp()"><w click-and-wait="startApp()">{{ 'skip'| translate }}</w></button> -->
    </div>

</ion-view>