<ion-view view-title="Sportify" style="background-color:#ecf0f1" cache-view="false" can-swipe-down="false">
    <ion-content>
        <div ng-intro-options="IntroOptions" ng-intro-method="callIntroduction" ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent" ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent" ng-intro-autostart="StartEvent">

            <div class="row" ng-controller="weather" style="position:relative;background-color:#fff;align-items:center;height:2.5em">
                <strong style="font-size:13px;position:absolute;left:1em;top:0.5em;color:#7f8c8d;letter-spacing:1px;font-weight:bold;margin:0" ng-if="salah">{{'hello' | translate}}, {{fullname}}</strong>
                <strong style="font-size:13px;position:absolute;left:1em;top:0.5em;color:#7f8c8d;letter-spacing:1px;font-weight:bold;margin:0" ng-if="!salah">{{'hello' | translate}}</strong>
                <p style="font-size:13px;position:absolute;right:1em;top:0.5em;color:#0081c9;font-weight:bold;margin:0">{{data_weather.temp}}°C</p>
                <div ng-if="data_weather.icon == 2" style="position:absolute;right:5em;top:0.5em;">
                    <i class="icon icon ion-ios-thunderstorm iconcloudy"></i>
                </div>
                <div ng-if="data_weather.icon == 3" style="position:absolute;right:3em;top:0.5em;">
                    <i class="icon icon ion-ios-rainy-outline iconcloudy"></i>
                </div>
                <div ng-if="data_weather.icon == 5" style="position:absolute;right:3em;top:0.5em;">
                    <i class="icon icon ion-ios-rainy iconcloudy"></i>
                </div>
                <div ng-if="data_weather.icon == 6" style="position:absolute;right:3em;top:0.5em;">
                    <i class="icon icon ion-ios-rainy iconcloudy"></i>
                </div>
                <div ng-if="data_weather.icon == 7" style="position:absolute;right:3em;top:0.5em;">
                    <i class="icon icon ion-ios-cloudy iconcloudy"></i>
                </div>
                <div ng-if="data_weather.icon == 8" style="position:absolute;right:3em;top:0.5em;">
                    <i class="icon icon ion-android-cloud-outline iconcloudy"></i>
                </div>
            </div>

            <div class="row slider-main" style="position:relative;height:180px;width:100vw;align-items:center;margin:0;">
                <a ng-click="previous()" style="position:absolute;left:1.5em;top:5.5em;z-index:1"><i class="ion-chevron-left" style="color:white;"></i></a>
                <a ng-click="next()" style="position:absolute;right:1.5em;top:5.5em;z-index:1"><i class="ion-chevron-right" style="color:white;"></i></a>

                <ion-slide-box auto-play="true" does-continue="true" slide-interval="3000" active-slide="currentIndex" on-slide-changed="slideChanged(index)" style="height:auto;padding:0;margin:0;position:relative;">
                    <ion-slide class="slider-slide-image" ng-repeat="list in news" ng-click="openModal(list)" style="padding:0;margin:0;justify-content:center;align-items:center;height:180px;width:100%;">
                        <img class='ver-center' ng-src="{{list.avatar}}">
                    </ion-slide>
                </ion-slide-box>
            </div>

            <div class="row sub-menu recom_mainmenu" style="letter-spacing:-0.2px;margin-top:-2%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);">
                <div class="col col-50 sub-menu" style="border:0.5px solid #0081c9;" align="center">
                    <ion-item class="sub item-light" href="#/app/recomended/11" style="border:0.5px solid #0081c9;">
                        <img src="img/side-menu/entertainment_b.png" style="width:20px;height:20px;margin-right:5.5em;"> &nbsp;
                        <p style="margin-top:-23px;margin-left:20px;letter-spacing:-0.4px;"> {{'entertaiment' | translate}} </p>
                    </ion-item>
                    <ion-item class="sub item-light" href="#/app/recomended/13" style="border:0.5px solid #0081c9;">
                        <img src="img/side-menu/accomodation_b.png" style="width:20px;height:20px;margin-right:5.5em;"> &nbsp;
                        <p style="margin-top:-23px;margin-left:30px;letter-spacing:-0.4px;"> {{'accomodation' | translate}} </p>
                    </ion-item>
                    <ion-item class="sub item-light" href="#/app/bus" style="border:0.5px solid #0081c9;">
                        <img src="img/side-menu/icon_transportation.png" style="width:20px;height:20px;margin-right:5.5em;"> &nbsp;
                        <p style="margin-top:-23px;margin-left:30px;letter-spacing:-0.4px;"> {{'transportation' | translate}} </p>
                    </ion-item>
                </div>
                <div class="col col-50 sub-menu" style="border:0.5px solid #0081c9;" align="center">
                    <ion-item class="sub item-light" href="#/app/recomended/17" style="border:0.5px solid #0081c9;">
                        <img src="img/side-menu/dining_b.png" style="width:20px;height:20px;margin-right:4em;"> &nbsp;
                        <p style="margin-top:-23px;margin-left:15px;letter-spacing:-0.4px;"> Court </p>
                    </ion-item>
                    <ion-item class="sub item-light" href="#/app/recomended/14" style="border:0.5px solid #0081c9;">
                        <img src="img/side-menu/shopping_b.png" style="width:20px;height:20px;margin-right:4em;"> &nbsp;
                        <p style="margin-top:-23px;margin-left:32px;letter-spacing:-0.4px;"> {{'shopping' | translate}} </p>
                    </ion-item>
                    <ion-item class="sub item-light" href="#/app/gallery" style="border:0.5px solid #0081c9;">
                        <img src="img/side-menu/gallery_b.png" style="width:20px;height:20px;margin-right:4em;"> &nbsp;
                        <p style="margin-top:-23px;margin-left:15px;letter-spacing:-0.4px;"> {{'gallery' | translate}} </p>
                    </ion-item>
                </div>
            </div>

            <!-- <div style="padding:1% 5%;" class="row sub-menu">
                <div class="col col-50">
                    <a class="button button-assertive" ng-click="openTalkto()" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;height:85%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);background-color:#CD332C">
                        <img src="img/talkToUs/icon_talktous.png" style="width:20%;padding-right:5%;padding-right: 3%;margin-left: -10%;">
                        <strong style="font-size: 12px;margin-left: 10px;">Talk</strong>
                        <span style="font-size: 12px">toUs</span>
                    </a>
                </div>
                <div class="col" id="step1">
                    <a ng-if="salah == true" class="button button-positive" href="#/app/coupon" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:white;background-color:#0081c9;height:85%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);">
                        <strong style="font-size: 12px">{{'discount' | translate}}</strong>
                        <span style="font-size: 12px">{{'coupon' | translate}}</span>
                    </a>
                    <a ng-if="salah == false" class="button button-positive" ng-click="sorry()" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:0;outline:0;color:white;background-color:#0081c9;height:85%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);">
                        <strong style="font-size: 12px">{{'discount' | translate}}</strong>
                        <span style="font-size: 12px">{{'coupon' | translate}}</span>
                    </a>
                </div>
            </div> -->

        </div>
    </ion-content>
</ion-view>