<ion-view view-title="{{matchName}}" can-swipe-back="true">
    <ion-content overflow-scroll="true">
        <div class="card">
            <div class="row">
                <div class="col" align="center">
                    <h3>{{teamHost}}</h3>
                </div>
            </div>

            <hr style=" margin: 5pt; ">

            <div class="row ">
                <div class="col ">{{matchName}}</div>
            </div>

            <div class="row ">
                <div class="col col-10">
                    <img height="18" width="18" src="img/profile/myhistory_p.png">
                </div>
                <div class="col ">{{matchDate}}</div>
            </div>

            <div class="row ">
                <div class="col col-10">
                    <img height="18" width="18" src="img/profile/invite_friend_p.png">
                </div>

                <div class="col ">8 Persons</div>
            </div>

            <div class="row ">
                <div class="col col-10">
                    <img height="18" width="18" src="img/tenantDetail/action_call.png">
                </div>

                <div class="col ">+62812345678</div>
            </div>

            <hr style=" margin: 5pt; ">

            <div class="row ">
                <div class="col col-10">
                    <img height="18" width="18" src="img/tenantDetail/tenant_map.png">
                </div>
                <div class="col ">{{matchLocation}}</div>
            </div>
            <div class="center-cropped-wa " style="margin-bottom: 0; ">
                <img src="https://4.bp.blogspot.com/-QNPggwRE_0A/UVRWp9st5EI/AAAAAAAAALE/7TUH72q4X_g/s1600/kota+malang.gif" style="width:100vw;margin-bottom: -1em;">
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="row row-bottom">
            <div class="col">
                <button class="button button-full button-positive" ng-click="lala()">
                    JOIN MATCH
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>