<ion-view view-title="{{'gallery' | translate}}">
     <ion-slide-box ng-if="gall" on-slide-changed="slideChanged()" show-pager="false" active-slide="gall">
           <ion-slide ng-repeat="data in detailGallery">
                   <div class="photoGallery scroll" style="position: relative;">
                        <ion-content overflow-scroll="true">
                        <img ng-src="{{data.avatar}}" class="square" style="margin-top: 10%;"/>
                        <div class="row" style="margin-top:30%;margin-bottom: 30%; position: absolute;">
                          <p class="bottomNumber col-12" style="position: absolute;margin-bottom: 10%;margin-top: 17%;">{{data.number}} {{'of' | translate}} {{len}}</p>
                          <p class="bottomTitle col-12" style="position: absolute;margin-bottom: 15%;margin-top: 13%;">{{data.title}}</p>
                        </div>
                        <br>

                        <div class="row" style="margin-top:13%;margin-bottom: 15%; position: absolute;">
                            <a class="col-50" ng-click="previous()"><i class="ion-chevron-left" style="color:blue;"></i></a>
                            <a class="col-50" ng-click="next()"><i class="ion-chevron-right" style="color:blue;"></i></a>
                        </div>
                        </ion-content>
                   </div>
           </ion-slide>
    </ion-slide-box>
</ion-view>
