<ion-view view-title="{{ 'search_title'| translate }} : {{$root.searchKeyword}}">
    <ion-content>
        <ion-list ng-if="listDcCount">
            <a class="button-block" style="background-color:#e6e7e8;color:#000;border:0;padding:6px 10px;text-decoration:none">
                <div class="row">
                    <p align="left" class="col-50" style="margin:0">{{'discount_coupon'| translate}} {{ lengthDiscount }}</p>
                </div>
            </a>
            <div class="container" ng-repeat="list in detailDiscount" ng-if="name">
                <div class="item item-thumbnail-left">
                    <img src="{{list.imageurl != null && list.imageurl != '' ? list.imageurl : 'img/items/tenant_add_photo.png'}}">
                    <p>{{ list.title }}</p>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>