<ion-view view-title="{{ 'search_title'| translate }} : {{$root.searchKeyword}}">
    <ion-content>
        <ion-list ng-if="listCgCount">
            <a class="button-block" style="background-color:#e6e7e8;color:#000;border:0;padding:6px 10px;text-decoration:none">
                <div class="row">
                    <p align="left" class="col-50" style="margin:0">{{'city_gallery' | translate}} {{ listCount }}</p>
                </div>
            </a>
            <div class="container" ng-repeat="listGall in detailGallery" ng-if="name">
                <a ng-href="#/app/searchGalleryDetail/{{name}}/{{$index}}" style="text-decoration:none">
                    <div class="item item-thumbnail-left">
                        <img src="{{listGall.avatar}}">
                        <p>{{ listGall.title }}</p>
                    </div>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>